:root {
  --verde: #B8C674;
  --blanco: #fff;
  --gris-claro: #eeeeee;
  --gris: #201E2A;
  --gris-oscuro: #383138;
  --negro: #191919;
  --azul-oscuro: #062937;
}

.sombra {
  -webkit-box-shadow: 2px 3px 5px 0px rgba(5, 5, 5, 1);
  -moz-box-shadow: 2px 3px 5px 0px rgba(5, 5, 5, 1);
  box-shadow: 2px 3px 5px 0px rgba(5, 5, 5, 1);
}

* {
  /* Reseteo */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Rajdhani", sans-serif;
  background-color: var(--blanco);
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.fondo-azul {
  background-color: var(--azul-oscuro)
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Inicio*/
.principal {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /*    background-image: url(/public/multimedia/FONDO.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: var(--gris-claro);
  border-bottom: 4rem solid var(--gris);
  position: relative;
}

.navegacion {
  background-color: var(--gris);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  border-bottom: 0.4rem solid var(--verde);
}

.navegacion a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.navegacion a:hover {
  border-bottom: 0.2rem solid var(--verde);
}

.contenido-principal {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.saludo {
  font-family: 'Exo 2';
  margin-bottom: 6rem;
  margin-top: 1rem;
}

.saludo h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--verde);
}

.saludo h1 {
  font-size: 7.8rem;
  text-transform: uppercase;
  color: var(--gris-oscuro);
  line-height: 7.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-shadow: 5px 1.5px 0.5px var(--blanco);
}

.profesiones {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.profesiones p {
  font-weight: 300;
  /*    background-color: var(--blanco); */
  padding: 0.5rem;
  margin: 0.5rem;
  border-bottom: 0.2rem solid var(--verde);
  color: var(--gris);
}

.contener-portada img {
  filter: drop-shadow(3px 2px 4px var(--gris));
  width: 31rem;
  margin: 0 auto;
  position: relative;
  bottom: 4rem;
}

.contacto {

  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.contenedor-icono {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 2s;
}

.contenedor-icono:hover {
  background-color: var(--blanco);
}


@media (min-width: 768px) {

  .principal {
    height: 95vh;
  }

  .navegacion {
    gap: 10rem;
    border-bottom: 1rem solid var(--verde);
  }

  .saludo {
    margin-top: 1rem;
    margin-bottom: 10rem;
  }

  .saludo h1 {
    font-size: 8rem;
    line-height: 9rem;
    text-shadow: 7px 5px 1px var(--blanco);
  }

  .contener-portada {
    position: relative;
    bottom: 5rem;
  }

  .contener-portada img {
    width: 40rem;
  }

  .contacto {
    gap: 10rem;
  }
}


@media (min-width: 1024px) {
  .contenido-principal {}

  .saludo {
    margin-top: 0;
    margin-bottom: 0;
  }

  .saludo h1 {
   
    line-height: 10rem;
    margin-bottom: 2rem;
  }

  .saludo h2 {
    font-size: 3rem;
  }

  .contener-portada img {
    bottom: 0rem;
    filter: drop-shadow(5px 2px 5px var(--gris));
  }

  .profesiones {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 auto;
  }
}

@media (min-width: 1440px) {

  .contenido-principal {}

  .contener-portada img {
    width: 45rem;

  }

  .profesiones {
    width: 100%;
  }



}

@media (min-width: 2240px) {

  .saludo h1 {
    font-size: 12rem;
    line-height: 17rem;
    margin-bottom: 3rem;
  }

  .saludo h2 {
    font-size: 5rem;
  }

  .contenido-principal {}


  .contener-portada img {
    width: 55rem;
  }


}

/*Sobre mi*/
.contenedor-sobreMi {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 15rem;
}

.sobre-mi {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 2rem;
}

.parrafo-sobremi {
  order: -1;
}

.parrafo-sobremi h2 {
  font-weight: 500;
  font-size: 2.4rem;
  color: var(--verde);
}

.parrafo-sobremi p {
  font-weight: 400;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.3rem;
}

.foto-personal {
  width: 20rem;
}

.cv {
  display: flex;
  gap: 2rem;
}

.cv select {
  background-color: var(--gris-claro);
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.cv option {
  color: var(--gris);
  border: none;
}

.vermas-cv {
  display: block;
  text-align: end;
  width: 35%;
  color: var(--blanco);
  background-color: var(--verde);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem;
  transition-duration: 1s;
  border-radius: 0.5rem;
}


@media (min-width: 768px) {
  .sobre-mi {

    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 10rem;
    margin-top: 10rem;
    gap: 5rem;
  }

  .parrafo-sobremi {
    width: 60%;
    order: 1;
  }

  .parrafo-sobremi h2 {
    font-weight: 300;
    font-size: 3rem;
  }

  .foto-personal {
    width: 30rem;
  }
}

@media (min-width: 1024px) {

  .contenedor-sobreMi {
    width: 80%;
  }

  .parrafo-sobremi h2 {
    font-size: 3rem;
  }

  .parrafo-sobremi p {
    font-weight: 400;
    font-size: 1.4rem;
  }

  .vermas-cv {
    gap: 4rem;
    font-size: 2rem;
  }

  .cv select {
    font-size: 2rem;
  }

}

@media (min-width: 1440px) {

  .contenedor-sobreMi {
    width: 65%;
  }
}

@media (min-width: 1880px) {

  .contenedor-sobreMi {
    width: 50%;
  }

  .parrafo-sobremi h2 {
    font-size: 3.5rem;
  }

  .parrafo-sobremi p {
    font-weight: 400;
    font-size: 2rem;
  }
}



/*HABILIDADES*/

.subtitulo-habilidades {
  max-width: 100%;

}

.sub-habilidades {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;

}

.sub-habilidades span {
  font-weight: 300;
  text-transform: lowercase;
}

.contenedor-habilidades {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.icono-habilidades {
  width: 10rem;
  padding: 0.2rem;
  border-radius: 1rem;
  transition-duration: 2s;
}

.icono-habilidades:hover {
  width: 14rem;

}

@media (min-width: 768px) {

  .sub-habilidades {
    text-align: start;
  }

  .icono-habilidades {
    padding: 0.5rem;
  }

  .contenedor-habilidades {
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .contenedor-habilidades {
    gap: 0;
  }
}

@media (min-width: 1440px) {
  .contenedor-habilidades {
    gap: 0;
  }
}

/*trabajos*/
/*WEBS*/
.trabajos {
  background-color: var(--gris);
  padding-top: 5rem;
  padding-bottom: 15rem;
  border-top: 1rem solid var(--verde);
}

.webs {
  padding: 1rem;
  margin-bottom: 2rem;

}

.trabajos .webs h2 {
  font-weight: 300;
  font-size: 2rem;
  color: var(--gris-claro);
}

.sub {
  width: 100%;
  font-weight: 900;
  font-size: 3rem;
  text-align: start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--blanco);
}

.tarjetas-webs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}


@media (min-width: 768px) {

  .webs {
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 95%;
  }

  .subtitulo {
    margin-top: 5rem;
    border-left: 0.5rem solid var(--verde);
    padding: 1rem;
  }

  .tarjetas-webs {
    width: 100%;
    gap: 1rem;
  }

  .sub {
    font-size: 4.5rem;
  }
}

@media (min-width: 1024px) {

  .webs {
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 90%;
  }
}

@media (min-width: 1880px) {

  .webs {
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 70%;
  }
}

/*RENDERS*/

.renders {
  padding: 1rem;
}

.vermas {
  display: block;
  width: 35%;
  color: var(--verde);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.5rem;
  transition-duration: 1s;
  border-radius: 0.5rem;
}

.vermas:hover {
  color: var(--blanco);
  background-color: var(--verde);
}

.renders h2 {
  font-weight: 300;
  font-size: 2rem;
  color: var(--gris-claro);
}

.imagenes {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {

  .renders {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .imagenes {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }

  .imagen1 {
    grid-row: 1/3;
  }

  .imagen4 {
    grid-column: 3/4;
    grid-row: 1/5;
  }

  .imagen5 {
    grid-column: 2/3;
    grid-row: 3/5;
  }

}

@media (min-width: 1024px) {
  .renders {
    max-width: 90%;
    margin-top: 2rem;
  }

  .vermas {
    font-size: 2rem;
    color: var(--verde);
    text-decoration: none;
    font-weight: 300;
  }
}

@media (min-width: 1880px) {

  .renders {
    max-width: 70%;
    margin-top: 3rem;
  }
}

.tarjeta {
  background-color: var(--gris-claro);
  width: 49%;
  border-radius: 0.5rem;
}

.nombre-tarjeta {
  text-transform: uppercase;
  text-align: start;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 400;
}

.fondo-tarjeta {
  width: 100%;
  height: 10rem;
  border-top: 0.3rem solid var(--verde);
  object-fit: cover;
}


.fondo-tarjeta img {
  width: 2.5rem;
}

.boton-detalles {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  border-top: 0.2rem solid var(--gris-oscuro);
  color: var(--gris);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  transition-duration: 1s;
}

.icono {

  height: 1.5rem;
}

.boton-detalles:hover {
  background-color: var(--verde);
  color: var(--blanco);
}

@media (min-width: 768px) {

  .tarjeta {
    width: 30%;
  }

  .fondo-tarjeta {
    height: 10rem;
  }

  .fondo-tarjeta:hover {
    opacity: 0.9;
  }

  .fondo-tarjeta img {
    width: 4rem;
  }

  .nombre-tarjeta {
    font-size: 1.5rem;
  }

  .boton-detalles {
    padding: 1rem;
  }
}

@media (min-width: 1024px) {

  .tarjeta {
    width: 23%;
  }

  .fondo-tarjeta {
    height: 10rem;
  }

  .icono {
    height: 1.8rem;
  }
}

@media (min-width: 1280px) {
  .nombre-tarjeta {
    font-size: 2rem;
  }

  .fondo-tarjeta {
    height: 15rem;
  }

  .boton-detalles {
    padding: 1.2rem;
  }

  .icono {
    height: 2.2rem;
  }


}

@media (min-width: 2250px) {
  .tarjeta {
    width: 23%;
  }

  .fondo-tarjeta {
    height: 18rem;
  }
}

/*FOOTER*/
.pie {
  background-color: var(--gris-claro);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
  border-top: 4rem solid var(--verde);
}

.flexFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--gris-oscuro);
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
  }
}


/*SPINNER*/

.sk-cube-grid {
  width: 90px;
  height: 90px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: var(--verde);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}